<router-outlet></router-outlet>


<!-- <app-search-bus *ngIf="!showBusList"
                (shouldShowBusList)="getSrcDest($event)"></app-search-bus>
<app-bus-list *ngIf="showBusList"
              (selectBus)="getBusDetails($event)"> </app-bus-list>
<app-seat-selection *ngIf="busSelected"
                    (showerPassengerInfo)="getSeatDetails($event)"></app-seat-selection>

<app-passenger-info *ngIf="showPassengerInfo"
                    (enteredPassInfo)="getPassengerInfo($event)"
                    (contactNumber)="contactNumber = $event"></app-passenger-info>
<app-review-bus-ticket *ngIf="enteredPasInfo"
                       [routeDetails]="routeDetails"
                       [busDetails]="busDetails"
                       [selectedSeats]="selectedSeats"
                       [passengerInfo]="passengerInfo"
                       [contactNumber]="contactNumber"></app-review-bus-ticket> -->